/* FONTS ********************************************* */

@font-face {
    Font-family: myfonts;
    Src: url("fonts/LEDLIGHT.OTF");
}

@font-face {
    Font-family: Akira-Expanded-Demo;
    Src: url("fonts/Akira-Expanded-Demo.otf");
}

@font-face {
    Font-family: AlteHaasGroteskBold;
    Src: url("fonts/AlteHaasGroteskBold.ttf");
}

@font-face {
    Font-family: AlteHaasGroteskRegular;
    Src: url("fonts/AlteHaasGroteskRegular.ttf");
}

/* FONTS ********************************************* */

body {
    background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-family: LEDLIGHT;
}

#container {
    width: 97%;
    display: flex;
    position: center;
    margin-top: 0px;
    flex-direction: column;
    border-bottom: black;
    border-style: dotted;
    border-width: 3px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0px;
    margin-top: 0px;
}

li {
    position: center;
    margin: 10px 20px;
}

a:hover {
    color: white;
}

li:link {
    text-decoration: none ;
}


h2  {
    font-family: Akira-Expanded-Demo;
    margin-top: 22px;
    margin-bottom: 17px;
    color: black;
}

p {
    margin: 0px;
    font-family: AlteHaasGroteskBold;
    color: black;
}

#hero {
    width: 300px;
    justify-content: center;
    margin: 50px;
}

#hero-container {
    display: flex;
    justify-content: center;
}




